	<div class="content">
		<!-- *********************
			INTRO
		********************** -->
		<section class="intro full-height align-center" id="intro">
			<div class="fullwidthbanner-container">
				<div class="banner">
					<ul class="container">
						<% (1..3).each do |num| %>
							<% a = "/images/bg/home#{num}.jpg" %>
							<!-- THE BOXSLIDE EFFECT EXAMPLES  WITH LINK ON THE MAIN SLIDE EXAMPLE -->
							<li data-transition="parallaxtoright" data-slotamount="7">
							   	<img src="<%= a %>" data-bgposition="center center" data-kenburns="on" data-duration="3000" ata-ease="Power4.easeInOut" data-bgfit="200" data-bgfitend="100" data-bgpositionend="center top" alt="">
							   	<h1 class="caption sft intro-huge-title upper"  data-x="center" data-y="200" data-speed="700" data-start="1000" data-easing="easeOutBack">Creative Artworks</h1>
							   	<div class="caption sfb intro-sub-title"  data-x="center" data-y="340" data-speed="500" data-start="1200" data-easing="easeOutBack">예술에 관심있는 사람 다 모였다!</div>
							   	<div class="caption sfb"  data-x="center" data-y="420" data-speed="320" data-start="1400"><a href="" class="m-btn m-btn-default m-btn-radius m-btn-large">보러가기</a></div>
							</li>
						<% end %>
					</ul>
				</div>
			</div>
		</section>
		<!-- *********************
			ABOUT US
		********************** -->
		<section class="about section-area" id="about">
			<div class="container">
				<div class="col-md-6">
					<div class="animated-box">
						<img src="images/media/imac.png" class="scale wow fadeInUp" data-wow-duration=".8s" data-wow-delay=".8s" alt="">
						<img src="images/media/iphone.png" class="scale animated-img wow fadeIn" data-wow-duration="1.2s" data-wow-delay="1s" alt="">
						<img src="images/media/iwatch.png" class="scale animated-img wow fadeIn" data-wow-duration="1.4s" data-wow-delay="1s" alt="">
					</div>
				</div>
				<div class="col-md-5 col-md-offset-1 wow fadeInRight" data-wow-duration="1.2s" data-wow-delay=".8s">
					<h1 class="upper">Rose for your needs</h1>
					<p class="text-medium">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi. Proin porttitor, orci nec nonummy molestie, enim est eleifend mi, non fermentum diam nisl sit amet erat.</p>
					<a href="">
						<span class="m-btn  m-btn-default m-btn-large m-btn-radius">Purchase Now</span>
					</a>
				</div>
			</div>
		</section>
		<!-- *********************
			COUNTER
		********************** -->
		<section class="stats grey-bg">
			<div class="container no-pd">
				<!-- COUNTER ITEM -->
				<div class="counter-item col-md-3 col-xs-6">
					<div class="wow fadeInUp" data-wow-delay="0.7s">
						<i class="counter-item-icon et-icon-pencil"></i>
						<span class="timer default-color" data-to="968" data-speed="10000"></span>
						<span class="counter-item-text">Lines of HTML</span>
					</div>
				</div>
				<!-- COUNTER ITEM -->
				<div class="counter-item col-md-3 col-xs-6">
					<div class="wow fadeInUp" data-wow-delay="0.7s">
						<i class="counter-item-icon et-icon-megaphone"></i>
						<span class="timer default-color" data-to="200" data-speed="10000"></span>
						<span class="counter-item-text">Cups of coffee</span>
					</div>
				</div>
				<!-- COUNTER ITEM -->
				<div class="counter-item col-md-3 col-xs-6">
					<div class="wow fadeInUp" data-wow-delay="0.7s">
						<i class="counter-item-icon et-icon-map"></i>
						<span class="timer default-color" data-to="115" data-speed="10000"></span>
						<span class="counter-item-text">finished projects</span>
					</div>
				</div>
				<!-- COUNTER ITEM -->
				<div class="counter-item col-md-3 col-xs-6">
					<div class="wow fadeInUp" data-wow-delay="0.7s">
						<i class="counter-item-icon et-icon-layers"></i>
						<span class="timer default-color" data-to="90" data-speed="10000"></span>
						<span class="counter-item-text">startups</span>
					</div>
				</div>
			</div>
		</section>
		<!-- *********************
			Services sections
		********************** -->
		<section class="features">
			<div class="container">
				<div class="heading-wrap col-md-12">
					<h1 class="section-title">What we do</h1>
					<span class="section-subtitle-m section-subtitle-color">Check out our services & talents</span>
				</div>
				<!-- FEATURE ITEM -->
				<div class="m-features-item clearfix col-md-4 col-xs-6 wow fadeInUp" data-wow-delay="0.7s">
					<div class="m-features-icon"><i class="et-icon-layers"></i></div>
					<div class="m-features-content">
						<h3 class="m-features-title upper">Modern Design</h3>
						<div class="m-features-desc">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor.</p>
						</div>
					</div>
				</div><!-- END FEATURE ITEM -->
				<!-- FEATURE ITEM -->
				<div class="m-features-item clearfix col-md-4 col-xs-6 wow fadeInUp" data-wow-delay="0.7s">
					<div class="m-features-icon"><i class="et-icon-mobile"></i></div>
					<div class="m-features-content">
						<h3 class="m-features-title upper">Mobile First</h3>
						<div class="m-features-desc">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor.</p>
						</div>
					</div>
				</div><!-- END FEATURE ITEM -->
				<!-- FEATURE ITEM -->
				<div class="m-features-item clearfix col-md-4 col-xs-6 wow fadeInUp" data-wow-delay="0.7s">
					<div class="m-features-icon"><i class="et-icon-pencil"></i></div>
					<div class="m-features-content">
						<h3 class="m-features-title upper">Advanced Shortcodes</h3>
						<div class="m-features-desc">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor.</p>
						</div>
					</div>
				</div><!-- END FEATURE ITEM -->
				<!-- FEATURE ITEM -->
				<div class="m-features-item clearfix col-md-4 col-xs-6 wow fadeInUp" data-wow-delay="0.7s">
					<div class="m-features-icon"><i class="et-icon-heart"></i></div>
					<div class="m-features-content">
						<h3 class="m-features-title upper">Friendly Support</h3>
						<div class="m-features-desc">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor.</p>
						</div>
					</div>
				</div><!-- END FEATURE ITEM -->
				<!-- FEATURE ITEM -->
				<div class="m-features-item clearfix col-md-4 col-xs-6 wow fadeInUp" data-wow-delay="0.7s">
					<div class="m-features-icon"><i class="et-icon-lightbulb"></i></div>
					<div class="m-features-content">
						<h3 class="m-features-title upper">Css Animation</h3>
						<div class="m-features-desc">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor.</p>
						</div>
					</div>
				</div><!-- END FEATURE ITEM -->
				<!-- FEATURE ITEM -->
				<div class="m-features-item clearfix col-md-4 col-xs-6 wow fadeInUp" data-wow-delay="0.7s">
					<div class="m-features-icon"><i class="et-icon-gift"></i></div>
					<div class="m-features-content">
						<h3 class="m-features-title upper">Variation layouts</h3>
						<div class="m-features-desc">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor.</p>
						</div>
					</div>
				</div><!-- END FEATURE ITEM -->
				<!-- FEATURE ITEM -->
				<div class="m-features-item clearfix col-md-4 col-xs-6 wow fadeInUp" data-wow-delay="0.7s">
					<div class="m-features-icon"><i class="et-icon-heart"></i></div>
					<div class="m-features-content">
						<h3 class="m-features-title upper">Friendly Support</h3>
						<div class="m-features-desc">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor.</p>
						</div>
					</div>
				</div><!-- END FEATURE ITEM -->
				<!-- FEATURE ITEM -->
				<div class="m-features-item clearfix col-md-4 col-xs-6 wow fadeInUp" data-wow-delay="0.7s">
					<div class="m-features-icon"><i class="et-icon-lightbulb"></i></div>
					<div class="m-features-content">
						<h3 class="m-features-title upper">Css Animation</h3>
						<div class="m-features-desc">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor.</p>
						</div>
					</div>
				</div><!-- END FEATURE ITEM -->
				<!-- FEATURE ITEM -->
				<div class="m-features-item clearfix col-md-4 col-xs-6 wow fadeInUp" data-wow-delay="0.7s">
					<div class="m-features-icon"><i class="et-icon-gift"></i></div>
					<div class="m-features-content">
						<h3 class="m-features-title upper">Variation layouts</h3>
						<div class="m-features-desc">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor.</p>
						</div>
					</div>
				</div><!-- END FEATURE ITEM -->
			</div>
		</section>
		<!-- *********************
			Banner
		********************** -->
		<section class="ads-section default-bg">
			<div class="container">
				<div class="col-md-6 white">
					<h2 class="upper white">Looking For Exclusive Digital Services?</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. </p>
					<div class="spacer"></div>
					<button class="m-btn m-btn-radius m-btn-black m-btn-medium">Continue Reading &rarr;</button>
				</div>
				<div class="col-md-6">
					<div class="animated-box no-phone-view no-tab-view">
						<img src="images/media/imac2.png" class="animated-img scale wow fadeInUp" data-wow-delay="0.7s" alt="">
					</div>
				</div>
			</div>
		</section>
		<!-- *********************
			PORTFOLIO
		********************** -->
		<section class="portfolio portfolio-style-two section-area no-pd-b" id="portfolio">
			<div class="container-fluid no-pd">
				<div class="heading-wrap col-md-12">
					<h2 class="section-title">추천 작품</h2>
					<span class="section-subtitle-m section-subtitle-color">페인팅팜에서 추천하는 작품들</span>
				</div>
				<!-- PORTFOLIO CONTAINER -->
				<div class="portfolio-container">
					<!-- portfolio item -->
					<% @recommends.each do |r|%>
					<div class="portfolio-item graphic-design">
						<a href="">
							<%= image_tag(r.image, width: "300", height: "300")%>
							<div class="portfolio-item-caption">
								<h2 class="portfolio-item-title"><%= r.title%></h2>
								<div class="portfolio-item-cats">
									<span><%= r.artist.user.nickname%></span>
									<span><%= "#{r.genre}, #{r.size} #{r.year}" %></span>
								</div>
							</div>
						</a>
					</div>
					<% end %>
				
				</div><!-- END PORTFOLIO CONTAINER -->
			</div>
		</section>
		<!-- *********************
			QUOTE 
		********************** -->
		<section class="quote-section dark-bg no-pd">
			<div class="container-fluid no-pd">
				<div class="col-md-6 no-pd m-mhw">
					<div class="quote-slider-wrap m-mhw-content">
						<div class="quote-slider-white flex-trans flexslider">
			  				<ul class="slides">
					 	 		<li>
									<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi vel erat non mauris convallis vehicula.
									Integer id felis. Curabitur aliquet pellentesque diam. Integer quis metus 
									aliquet pellentesque diam.</p>
									<span class="quote-w-author">Evan Rakitic</span>
								</li>
								<li>
									<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi vel erat non mauris convallis vehicula.
									Integer id felis. Curabitur aliquet  diam. Integer quis metus vitae elit lobortis egestas.</p>
									<span class="quote-w-author">Jeremy Mathiew</span>
								</li>
								<li>
									<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi vel erat non mauris convallis vehicula.
									Integer id felis. Curabitur aliquet pellentesque diam. Integer quis metus vitae elit lobortis egestas.</p>
									<span class="quote-w-author">Daniel Mathiew</span>
								</li>
				  			</ul>
			  			</div><!-- END QUOTE SLIDER -->
					</div>
				</div><!-- mhw -->
				<div class="quote-media col-md-6 m-mhw about no-pd">
					
				</div>
			</div>
		</section>
		<!-- *********************
			TEAM
		********************** -->
		<section class="team">
			<div class="container">
				<div class="heading-wrap col-md-12">
					<h2 class="section-title">The Team</h2>
					<span class="section-subtitle-m section-subtitle-color">we are talented people</span>
				</div>
				<div class="m-deso-odd">
					<!-- Team member -->
					<div class="m-team-member wow col-md-4 col-xs-6 fadeInUp" data-wow-delay=".7s">
						<div class="m-team-wrap">
							<img src="https://placehold.it/300x300" alt="">
							<div class="m-team-cap">
								<div class="m-team-member-social-icons clearfix">
									<a href=""><i class="icon-facebook"></i></a>
									<a href=""><i class="icon-twitter"></i></a>
									<a href=""><i class="icon-skype"></i></a>
								</div>
							</div>
						</div><!-- team wrap -->
						<h3 class="m-team-member-name">John Doe</h3>
						<span class="m-team-member-role">Web Designer</span>
						<p class="m-team-member-desc">
							Lorem ipsum ex vix illud nonummy, novum tation et hiss. At vix scripta patrioque scribentur ligulas ipsum.
						</p>
					</div><!-- End Team member -->

					<!-- Team member -->
					<div class="m-team-member wow col-md-4 col-xs-6 fadeInUp" data-wow-delay=".7s">
						<div class="m-team-wrap">
							<img src="https://placehold.it/300x300" alt="">
							<div class="m-team-cap">
								<div class="m-team-member-social-icons clearfix">
									<a href=""><i class="icon-facebook"></i></a>
									<a href=""><i class="icon-twitter"></i></a>
									<a href=""><i class="icon-flickr"></i></a>
								</div>
							</div>
						</div><!-- team wrap -->
						<h3 class="m-team-member-name">Peter Cesc</h3>
						<span class="m-team-member-role">Front-End Developer</span>
						<p class="m-team-member-desc">
							Lorem ipsum ex vix illud nonummy, novum tation et hiss. At vix scripta patrioque scribentur ligulas ipsum.
						</p>
					</div><!-- End Team member -->

					<!-- Team member -->
					<div class="m-team-member col-md-4 col-xs-6  wow fadeInUp" data-wow-delay=".7s">
						<div class="m-team-wrap">
							<img src="https://placehold.it/300x300" alt="">
							<div class="m-team-cap">
								<div class="m-team-member-social-icons clearfix">
									<a href=""><i class="icon-facebook"></i></a>
									<a href=""><i class="icon-twitter"></i></a>
									<a href=""><i class="icon-flickr"></i></a>
								</div>
							</div>
						</div><!-- team wrap -->
						<h3 class="m-team-member-name">Jeff Paul</h3>
						<span class="m-team-member-role">Founder</span>
						<p class="m-team-member-desc">
							Lorem ipsum ex vix illud nonummy, novum tation et hiss. At vix scripta patrioque scribentur ligulas ipsum.
						</p>
					</div><!-- End Team member -->
				</div><!-- DESO -->
			</div>
		</section>
		<!-- *********************
			PARALLAX SECTION
		********************** -->
		<section class="parallax-section m-mhw no-pd cover-bg">
			<div class="m-mhw-content align-center">
				<div class="container">
					<div class="col-md-8 col-md-offset-2 col-sm-12">
						<h1 class="upper white wow fadeInUp" data-wow-delay=".7s">LOOKING FOR EXCLUSIVE DIGITAL SERVICES?</h1>
						<div class="spacer"></div>
						<p class="white wow fadeInUp" data-wow-delay=".9s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi. Proin porttitor, orci nec nonummy molestie.</p>
						<div class="spacer"></div>
						<a href="#contact" class="m-btn m-btn-radius m-btn-white m-btn-medium wow fadeInUp" data-wow-delay="1.1s">Lets Talk About &rarr;</a>
					</div>
				</div>
			</div>
		</section>
		<!-- *********************
			BLOG
		********************** -->
		<section class="blog section-area" id="blog">
			<div class="container">
				<div class="heading-wrap col-md-12">
					<h2 class="section-title">The Blog</h2>
					<span class="section-subtitle-m">They are all happy</span>
				</div>
				<div class="col-md-8 col-md-offset-2">
					<div class="blog-listed-style">
						<!--  -->
						<article class="blog-listed-article media">
							<a href="">
								<div class="blog-listed-media cl">
									<img src="https://placehold.it/300x300" alt="" class="blog-article-thumb">
									<div class="article-date">
										<span>13</span>
										NOV
									</div>
								</div>
								<div class="bd">
									<h2 class="blog-listed-title">Amazing Photography Styles</h2>
								</div>
							</a>
						</article><!--  -->
						<!--  -->
						<article class="blog-listed-article media">
							<a href="">
								<div class="blog-listed-media cl">
									<img src="https://placehold.it/300x300" alt="" class="blog-article-thumb">
									<div class="article-date">
										<span>02</span>
										DEC
									</div>
								</div>
								<div class="bd">
									<h2 class="blog-listed-title">Apple new iWatch on Amazon now</h2>
								</div>
							</a>
						</article><!--  -->
						<!--  -->
						<article class="blog-listed-article media">
							<a href="">
								<div class="blog-listed-media cl">
									<img src="https://placehold.it/300x300" alt="" class="blog-article-thumb">
									<div class="article-date">
										<span>15</span>
										JUN
									</div>
								</div>
								<div class="bd">
									<h2 class="blog-listed-title">10 Marketing strategy to rank your website</h2>
								</div>
							</a>
						</article><!--  -->
						<!--  -->
						<article class="blog-listed-article media">
							<a href="">
								<div class="blog-listed-media cl">
									<img src="https://placehold.it/300x300" alt="" class="blog-article-thumb">
									<div class="article-date">
										<span>06</span>
										JUN
									</div>
								</div>
								<div class="bd">
									<h2 class="blog-listed-title">Fear of Dark</h2>
								</div>
							</a>
						</article><!--  -->
						<!--  -->
						<article class="blog-listed-article media">
							<a href="">
								<div class="blog-listed-media cl">
									<img src="https://placehold.it/300x300" alt="" class="blog-article-thumb">
									<div class="article-date">
										<span>22</span>
										JUN
									</div>
								</div>
								<div class="bd">
									<h2 class="blog-listed-title">The new wordpress version is now availabe</h2>
								</div>
							</a>
						</article><!--  -->
						<div class="spacer"></div><!--  -->
						<div class="spacer"></div><!--  -->
						<div class="col-md-12 align-center">
							<a href="" class="m-btn m-btn-large m-btn-border m-btn-radius">Go to the blog</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- *********************
			BRANDS
		********************** -->
		<section class="brands dark-bg">
			<div class="container">
				<ul class="brand-list-carousel col-md-12">
					<li class="brand-item"><img src="https://placehold.it/300x180" alt=""></li>
					<li class="brand-item"><img src="https://placehold.it/300x180" alt=""></li>
					<li class="brand-item"><img src="https://placehold.it/300x180" alt=""></li>
					<li class="brand-item"><img src="https://placehold.it/300x180" alt=""></li>
					<li class="brand-item"><img src="https://placehold.it/300x180" alt=""></li>
					<li class="brand-item"><img src="https://placehold.it/300x180" alt=""></li>
					<li class="brand-item"><img src="https://placehold.it/300x180" alt=""></li>
					<li class="brand-item"><img src="https://placehold.it/300x180" alt=""></li>
					<li class="brand-item"><img src="https://placehold.it/300x180" alt=""></li>
					<li class="brand-item"><img src="https://placehold.it/300x180" alt=""></li>
					<li class="brand-item"><img src="https://placehold.it/300x180" alt=""></li>
				</ul>
			</div>
		</section>
		<!-- *********************
			CONTACT
		********************** -->
		<section class="contact grey-bg section-area" id="contact">
			<div class="container">
				<div class="heading-wrap col-md-12">
					<h2 class="section-title">Contact Us</h2>
					<span class="section-subtitle-m">Drop us some lines.</span>
				</div>
				<div class="col-md-3 wow fadeInUp" data-wow-delay=".8s">
					<p>
						Lorem ipsum ex vix illud nonummy, novum tation et his. At vix scriptaset patrioque scribentur, at pro fugit erts verterem molestiae.
					</p>
					<div class="separator"></div>
					<h4 class="upper">We are social</h4>
					<div class="m-social-list-icons">
						<span class="social-icon wow fadeInUp" data-wow-delay="1.2s"><a href=""><i class="icon-facebook"></i></a></span>
						<span class="social-icon wow fadeInUp" data-wow-delay="1.4s"><a href=""><i class="icon-twitter"></i></a></span>
						<span class="social-icon wow fadeInUp" data-wow-delay="1.6s"><a href=""><i class="icon-googleplus"></i></a></span>
						<span class="social-icon wow fadeInUp" data-wow-delay="1.8s"><a href=""><i class="icon-instagram"></i></a></span>
						<span class="social-icon wow fadeInUp" data-wow-delay="2s"><a href=""><i class="icon-linkedin"></i></a></span>
					</div>
				</div>
				<!--  CONTACT FORM  -->
				<div class="col-md-4 col-md-offset-1 wow flipInY" data-wow-delay="1.2s">
					<div class="contact-form-wrap">
						<form role="form" id="contactForm" data-toggle="validator">
							<div class="form-group">
								<input type="text" id="name" placeholder="Full Name" required data-error="NEW ERROR MESSAGE">
								<div class="help-block with-errors"></div>
							</div>

							<div class="form-group">
								<input type="email" id="email" placeholder="Email" required>
								<div class="help-block with-errors"></div>
							</div>
							<div class="form-group">
								<textarea name="" id="message" placeholder="Message" required></textarea>
								<div class="help-block with-errors"></div>
							</div>

							<button type="submit" id="form-submit" class="m-btn m-btn-radius m-btn-full m-btn-large">Send</button>
							<div id="msgSubmit" class="submit-msg align-center hidden"></div>
						</form><!--  -->
					</div>
				</div>
				<!--  CONTACT INFO  -->
				<div class="col-md-3 col-md-offset-1 wow fadeInUp" data-wow-delay=".8s">
					<p>
						198  West 21th,<br>
						Street Suite 721 <br>
						New York, NY 10010
					</p>
					<div class="separator"></div>
					<p><i class="contact-icon icon-mail22"></i> youremail@yourdomain.com</p>
					<p><i class="contact-icon icon-phone"></i> +88 (0) 101 0000 000</p>
				</div>
			</div>
		</section>
		<!-- *********************
			LINK SECTION
		********************** -->
		<section class="m-link-section default-bg">
			<a href=""></a>
			<h1 class="m-link-section-title upper">
				Get Ready & Buy Rose Now
			</h1>
		</section>
	</div><!-- End Content -->