<!-- *****HOME/INDEX********* -->
<div class="content">
		<!-- *********************
			INTRO
		********************** -->
		<section class="intro align-center" id="intro">
			<div class="fullwidthbanner-container">
				<div class="banner">
					<ul class="container">
						<li data-transition="slotfade-horizontal" data-slotamount="7">
						   	<img src="images/bg/home2.jpg" alt="">
						   	<h1 class="caption sft intro-huge-title upper"  data-x="center" data-y="200" data-speed="700" data-start="1700" data-easing="easeOutBack">PaintingFarm</h1>
						   	<div class="caption sfb intro-sub-title"  data-x="center" data-y="340" data-speed="500" data-start="1900" data-easing="easeOutBack">예술좋아하는 사람은 다 모였다!</div>
						   	<div class="caption sfb"  data-x="center" data-y="420" data-speed="320" data-start="2000"><a href="/markets" class="m-btn m-btn-default m-btn-radius m-btn-large">작품보러가기</a></div>
						</li>
						<li data-transition="slotfade-horizontal" data-slotamount="7">
						   	<img src="images/bg/nightmarket_banner.jpg" alt="">
						</li>
					</ul>
				</div>
			</div>
		</section>
		<!-- *********************
			COUNTER
		********************** -->
		<section class="stats default-bg">
			<div class="container no-pd">
				<!-- COUNTER ITEM -->
				<div class="counter-item col-md-4 col-xs-4">
					<div class="wow fadeInUp" data-wow-delay="0.7s">
						<!--<i><class="counter-item-icon white et-icon-pencil"></i>-->
						<img src="/icon_img/artwork1_white.png" style="width: 100px; height: 100px; display: block; margin: auto;"></img><br>
						<span class="timer white" data-to=<%= @market_count %> data-speed="10000"></span>
						<span class="counter-item-text white">등록된 작품 수</span>
					</div>
				</div>
				<!-- COUNTER ITEM -->
				<div class="counter-item col-md-4 col-xs-4">
					<div class="wow fadeInUp" data-wow-delay="0.7s">
						<!--<i class="counter-item-icon white et-icon-megaphone"></i>-->
						<img src="/icon_img/artist_white.png" style="width: 100px; height: 100px; display: block; margin: auto;"></img><br>
						<span class="timer white" data-to=<%= @artist_count %> data-speed="10000"></span>
						<span class="counter-item-text white">아티스트 수</span>
					</div>
				</div>
				<!-- COUNTER ITEM -->
				<div class="counter-item col-md-4 col-xs-4">
					<div class="wow fadeInUp" data-wow-delay="0.7s">
						<!--<i class="counter-item-icon white et-icon-map"></i>-->
						<img src="/icon_img/gallery_white.png" style="width: 100px; height: 100px; display: block; margin: auto;"></img><br>
						<span class="timer white" data-to="5" data-speed="10000"></span>
						<span class="counter-item-text white">협약 갤러리 수</span>
					</div>
				</div>
			</div>
		</section>
		<!-- *********************
			ABOUT US
		********************** -->
		<section class="about section-area grey-bg" id="about">
			<div class="container no-pd">
				<div class="col-md-4 col-sm-12 align-center wow fadeInUp" data-wow-delay="0.7s">
					<h2 class="upper"><span class="default-color">1.</span> 온라인 전시 서비스</h2>
					<p>
						- 상설 온라인 전시 서비스<br>
						- 차별화된 판매수수료&nbsp; &nbsp;<br>
						- 포트폴리오 제작 서비스
					</p>
					
				</div>
				<div class="col-md-4 col-sm-12 align-center wow fadeInUp" data-wow-delay="0.7s">
					<h2 class="upper"><span class="default-color">2.</span> 특화된 뷰어 기능</h2>
					<p>
						- View in a room<br>
						- 증강현실(AR)
					</p>
				</div>
				<div class="col-md-4 col-sm-12 align-center wow fadeInUp" data-wow-delay="0.7s">
					<h2 class="upper"><span class="default-color">3.</span> 온라인 작품 매칭 서비스</h2>
					<p>
						- 교환&매칭 서비스<br>
						- 주기적인 이벤트
					</p>
				</div>
			</div>
		</section>
		
		<!--<hr>-->
		<!--작품 추천 부분 및 최근 등록 수정-->
		<!-- *********************
			추천 작품
		********************** -->
		<section class="portfolio section-area no-pd-b" id="portfolio">
			<div class="container">
				<div class="heading-wrap col-md-12">
					<h2 class="section-title">추천 작품</h2>
					<span class="section-subtitle-m section-subtitle-color">큐레이터가 추천하는 작품들</span>
				</div>
				<!-- PORTFOLIO CONTAINER -->
				<div class="portfolio-container">
					<% @recommends.each do |r|%>				
					<!-- portfolio item -->
					<div class="portfolio-item graphic-design">
						<a href="/markets/show/<%=r.id%>">
							<%= image_tag(r.image.thumb)%>
							<div class="portfolio-item-caption">
								<h2 class="portfolio-item-title"><%= r.title%></h2>
								<div class="portfolio-item-cats">
									<span><%= r.artist.user.nickname%></span>
									<span><%= "#{r.genre}, #{r.width}x#{r.height}cm #{r.year}" %></span>
								</div>
							</div>
						</a>
					</div>
					<% end %>
				</div><!-- END PORTFOLIO CONTAINER -->
			</div>
		</section>
		<div class="separator"></div>
		<!-- *********************
			최근 등록 작품
		********************** -->
		<section class="portfolio section-area no-pd-b" id="portfolio">
			<div class="container">
				<div class="heading-wrap col-md-12">
					<h2 class="section-title">최근 등록 작품</h2>
					<span class="section-subtitle-m section-subtitle-color">최근에 등록된 작품들</span>
				</div>
				<!-- PORTFOLIO CONTAINER -->
				<div class="portfolio-container">
					<% @recents.each do |r|%>				
					<!-- portfolio item -->
					<div class="portfolio-item graphic-design">
						<a href="/markets/show/<%=r.id%>">
							<%= image_tag(r.image.thumb)%>
							<div class="portfolio-item-caption">
								<h2 class="portfolio-item-title"><%= r.title%></h2>
								<div class="portfolio-item-cats">
									<span><%= r.artist.user.nickname%></span>
									<span><%= "#{r.genre}, #{r.width}x#{r.height}cm #{r.year}" %></span>
								</div>
							</div>
						</a>
					</div>
					<% end %>
				</div><!-- END PORTFOLIO CONTAINER -->				
			</div>
		</section>		
		
		<!-- *********************
			PARALLAX SECTION
		********************** -->
		<section class="parallax no-pd cover-bg">
			<div class="container">
				<div class="col-md-12 m-mhw">
					<div class="m-mhw-content align-center">
						<h1 class="upper white wow fadeInUp" data-wow-delay=".7s">당신의 작품을 업로드하고, 판매해보세요!</h1>
						<div class="spacer"></div>
						<p class="white wow fadeInUp" data-wow-delay=".9s">페인팅팜은 신진/학생 작가들이 자유롭게 자신의 미술작품을 올리고 판매할 수 있는 플랫폼입니다.</p>
						<div class="spacer"></div>
						<a href="#contact" class="m-btn m-btn-radius m-btn-white m-btn-medium wow fadeInUp" data-wow-delay="1.1s">더 알아보기 &rarr;</a>
					</div>
				</div>
			</div>
		</section>
		
		<!-- *********************
			CONTACT
		********************** -->
		<section class="contact grey-bg section-area" id="contact">
			<div class="container">
				<div class="heading-wrap col-md-12">
					<h2 class="section-title">문의하기</h2>
					<span class="section-subtitle-m">궁금한 점을 해결해드립니다.</span>
				</div>
				<!--  CONTACT INFO  -->
				<div class="col-md-3 col-md-offset-1 wow fadeInUp" data-wow-delay=".8s">
					<p>
						서울특별시 성북구 보문로 34다길 2<br>
						수정관 403호 소프트웨어 공학 연구실<br>
						(02844)<br>
					</p>
					<div class="separator"></div>
					<p><i class="contact-icon icon-mail22"></i> paintingfarm@gmail.com</p>
					<p><i class="contact-icon icon-phone"></i> 02) 920-7555</p>
					<div class="separator"></div>
					<div align="center">
						<a href="http://www.facebook.com/paintingfarm" target="_blank" style="text-decoration: none;">
							<img src="/icon_img/facebook-logo.png" style="width: 50px; height: 50px; display: inline;"></img>
						</a>
						&nbsp;&nbsp;
						<a href="http://www.twitter.com/paintingfarm" target="_blank" style="text-decoration: none;">
							<img src="/icon_img/twitter-logo.png" style="width: 50px; height: 50px; display: inline;"></img>
						</a>
						&nbsp;&nbsp;
						<a href="http://www.instagram.com/paintingfarm" target="_blank" style="text-decoration: none;">
							<img src="/icon_img/instagram-logo.png" style="width: 50px; height: 50px; display: inline;"></img>
						</a>
					</div>
					
				</div>				
				<!--  CONTACT FORM  -->
				<div class="col-md-4 col-md-offset-1 wow flipInY" data-wow-delay="1.2s">
					<div class="contact-form-wrap">
						<form data-toggle="validator" action="/home/email_send" method="POST">
							<div class="form-group">
								<input type="text" name="sender" placeholder="이름" required data-error="NEW ERROR MESSAGE">
								<div class="help-block with-errors"></div>
							</div>
	
							<div class="form-group">
								<input type="email" name="email" placeholder="example@example.com" required>
								<div class="help-block with-errors"></div>
							</div>
							<div class="form-group">
								<textarea name="message" placeholder="문의내용" required></textarea>
								<div class="help-block with-errors"></div>
							</div>
	
							<button type="submit" class="m-btn m-btn-black m-btn-medium" style="width: 100%;">보내기</button>
						</form>
					</div>
				</div><!--// CONTACT FORM -->
				
			</div>
		</section>