<!--테마 부분 다시 넣음-->
	<!-- *********************
		INTRO PAGE TITLE
	********************** -->
	<section class="heading-page-section" style="background-image:url('../images/market_header.jpg');">
		<div class="container">
			<div class="col-md-12">
				<h1 class="heading-page-title">마켓</h1>
				<span class="heading-page-subtitle">당신의 작품을 올리고, 판매하세요!</span>
			</div>
		</div>
	</section>
	<!-- *********************
		CONTENT
	********************** -->
	<section id="shop" class="content shop">
		<div class="container">
			<div class="product-container col-md-9">
				<div class="product-container-header col-md-12">
					<div class="product-result left">
						<%= page_entries_info @markets %>
					</div>
					<select name="" id="" class="product-filter right">
						<option value="">최신순</option>
						<option value="">낮은 가격순</option>
						<option value="">높은 가격순</option>
					</select>				
				</div>
				
				<!-- *********************
						CONTENT
				********************** -->
				<div class="blog-articles-masonry-container clearfix ">
					<%= render @markets %>	
				</div>

				<div class="digg_pagination right">
				    <%= will_paginate @markets, :container => false %>
				</div>
				<!-- 더보기 -->
				<!--<div class="col-md-12" style="text-align: center; margin-top: 20px;">-->
				<!--	<span class="m-btn m-btn-radius m-btn-default m-btn-large" onclick="index.js.erb">작품 더보기</span>-->
				<!--</div>-->
			</div><!-- PRODUCT CONTAINER -->
			
			<!-- SHOP SIDEBAR -->
			<aside class="shop-sidebar col-md-3">
				<ul class="sidebar-widgets">
					<!-- sidebar widget -->
					<li class="search-bar sidebar-widget">
					<%= form_tag('/markets', :method => "get", :class => "form-inline") do %>
		            <%= text_field_tag :search, params[:search], placeholder: '작품명' %><!-- 현재는 작품명만 가능-->
		            <% end %>
					</li>
					<!-- sidebar widget -->
					<li class="categories-widget sidebar-widget">
						<h3 class="sidebar-widget-title">테마</h3>
						<ul>
							<li><a href="">전체</a></li>
							<li><a href="">풍경</a></li>
							<li><a href="">인물</a></li>
							<li><a href="">정물</a></li>
							<li><a href="">동물</a></li>
							<li><a href="">추상</a></li>
							<li><a href="">공간</a></li>
							<li><a href="">팝아트</a></li>
							<li><a href="">기타</a></li>
						</ul>
					</li>
					<!-- sidebar widget -->
					<li class="shop-recent-products sidebar-widget">
						<h3 class="sidebar-widget-title">최근 작품</h3>
						<ul>
							<% @recents.each do |r|%>
							<li class="media">
								<div class="cl">
									<a href=""><%= image_tag(r.image, size: "80") %></a>
								</div>
								<div class="bd">
									<h4 class="recent-product-title"><a href=""><%= r.title%></a></h4>
									<span class="recent-product-price">
										<% if r.artist.user.nickname.empty? %>
											<%= r.artist.user.name %>
										<% else %>
											<%= r.artist.user.nickname %>
										<% end %>									
									</span>
								</div>
							</li>
							<% end %>
						</ul>
					</li>

					<!-- sidebar widget -->
					<li class="shop-last-products sidebar-widget">
						<h3 class="sidebar-widget-title">추천 작품</h3>
						<ul>
							<% @recommends.each do |r|%>
							<li class="media">
								<div class="cl">
									<a href=""><%= image_tag(r.image, size: "80") %></a>
								</div>
								<div class="bd">
									<h4 class="recent-product-title"><a href=""><%= r.title%></a></h4>
									<span class="recent-product-price">
										<% if r.artist.user.nickname.empty? %>
											<%= r.artist.user.name %>
										<% else %>
											<%= r.artist.user.nickname %>
										<% end %>	
									</span>
								</div>
							</li>
							<% end %>
						</ul>
					</li>
					<li class="sidebar-widget">
						<a href="">
							<img class="scale" src="/images/event.jpg" alt="">
						</a>
					</li>
				</ul>
			</aside>
		</div><!-- BOX CONTAINER -->
	</section><!-- End Content -->
	
	
	<script language="JavaScript">
		 function chMarket(val) {
		  	//document.foEmail.email_id.value = val;
		  	
		  	if (val == latest){
		  		
		  	}
		  		
		  	else if (val == cheapest){
		  		
		  	}
		  	
		  	else {
		  		
		  	}
		  	
		  	
		  	
		  }
	
	</script>
	
	
	
	

		