<!--테마 부분을 없앤 버전-->
	<!-- *********************
		INTRO PAGE TITLE
	********************** -->
	<section class="heading-page-section" style="background-image:url('../images/market_header.jpg');">
		<div class="container">
			<div class="col-md-12">
				<h1 class="heading-page-title">마켓</h1>
				<span class="heading-page-subtitle">당신의 작품을 올리고, 판매하세요!</span>
			</div>
		</div>
	</section>
	<!-- *********************
		CONTENT
	********************** -->
	<section id="shop" class="content shop">
		<div class="container">
			<div class="product-container col-md-12">
				<div class="product-container-header col-md-12">
					<div class="product-result left">
						<%= page_entries_info @markets %>
					</div>
				</div>
				
				<!-- *********************
						CONTENT
				********************** -->
				<div class="blog-articles-masonry-container clearfix ">
					<!-- 작품들-->
					<% @markets.each do |m|%>
						<article class="blog-article-masonry">	
								<div class="blog-article-img">
									<%= image_tag(m.image) %>
								</div>
								
								<a href="/markets/show/<%=m.id%>"><div class="product-cap"></div></a>

								<div class="blog-article-content">
									<h4 class="blog-article-title"><b><%= m.title %></b></h4>
									<div class="blog-article-footer">
										<span class="blog-article-author">
											<a href="">
												<%= m.artist.user.nickname %>	
											</a>
										</span>
										<span class="blog-article-author right">
											<%= "#{m.genre} #{m.width}x#{m.height}cm #{m.year}" %>
										</span>
									</div>
								</div>
						</article>
						
					
						
						
						
					<% end %><!-- 작품들 -->
					
				</div>

				<!--Pagination -->
				<!--<ul class="pagination">-->
				<!--	<li class="prev"><a href=""><i class="icon-arrow-left5"></i></a></li>-->
				<!--	<li class="active"><a href="">1</a></li>-->
				<!--	<li><a href="">2</a></li>-->
				<!--	<li><a href="">3</a></li>-->
				<!--	<li><a href="">...</a></li>-->
				<!--	<li><a href="">9</a></li>-->
				<!--	<li class="next"><a href=""><i class="icon-arrow-right5"></i></a></li>-->
				<!--</ul>-->
				<div class="digg_pagination right">
				    <%= will_paginate @markets, :container => false %>
				</div>
			</div><!-- PRODUCT CONTAINER -->

		</div><!-- BOX CONTAINER -->
	</section><!-- End Content -->
	
	
	<script language="JavaScript">
		 function chMarket(val) {
		  	//document.foEmail.email_id.value = val;
		  	
		  	if (val == latest){
		  		
		  	}
		  		
		  	else if (val == cheapest){
		  		
		  	}
		  	
		  	else {
		  		
		  	}
		  	
		  	
		  	
		  }
	
	</script>
	
	
	
	

		