 	<!-- *********************
		INTRO PAGE TITLE
	********************** -->
	<section class="heading-page-section">
		<div class="container">
			<div class="col-md-12">
				<h2 class="heading-page-title">상세페이지</h2>
			</div>
		</div>
	</section>
	<!-- *********************
		CONTENT
	********************** -->
	<section style="padding-bottom: 0px;">
		<div class="container">
			<div class="heading-wrap col-md-12">
				<h1 class="section-title"><%= @market.title %></h1>
				<span class="section-subtitle-m section-subtitle-color"><%= @market.artist.user.nickname %></span>
			</div>
	</section>	
	
	<section oncontextmenu='return false' id="shop" class="content shop">
		<div class="container">		
			<div class="single-product">			
				<!-- 작품 사진 -->
				<div class="col-md-7">
					<div class="single-product-gallrey flexslider">
						<ul class="slides">
							<li>
								<center>
								<%= image_tag(@market.image.large) %>
								</center>
							</li>
						</ul>	
						<div class="zoom">	
                            <!-- zoom -->
							<a class="zoomcontent" data-toggle="modal" href="#myModal">
							  <span class="icon-search circle-icon"></span>
							</button></a>
							<a class="zoomcontent" href="/markets/view_in_a_room/<%= @market.id %>" rel="tooltip" title="View in a room" target="_blank">
                               <span class="icon-eye2 circle-icon"></span>
                            </a> 
							<!-- Modal -->
							<div class="modal modal-wide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  							  <div class="modal-dialog">
							    <div class="modal-content">
							      <div class="modal-header">
							        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							        <h5 class="modal-title" id="myModalLabel">
							        	마우스를 드래그하여 작품을 움직여보세요!
									</h5>
							      </div>
							      <div class="modal-body">
							      	<div class="dragscroll">
							      		<center>
							      			<img id="modal-image" src="<%=@market.image%>">
							      		</center>
							      	</div>
							      </div>
							    </div>
							  </div>
							</div>
						</div><!--// zoom -->
					</div><!--// single-product-gallrey flexslider -->					
				</div><!-- PRODUCT SLIDER -->
				
				<!-- 작품 설명 -->
				<div class="portfolio-project-details col-md-5">
					<div class="single-product-header">
						<span class="product-price left">
							<!--<del>&#8361;20000</del>--><!-- 원가 -->
							<ins>&#8361; <%= @market.price %></ins><!-- 판매가 -->
						</span>
					</div>
					<div class="separator"></div>					
					<% unless @market.content.empty? %>
					<p>
						<%= @market.content %>
					</p>
					<% end %>
					<!-- Project info details -->
					<ul class="product-meta clearfix">
						<li>
							<span>사이즈 :</span><%= @market.width %> x <%= @market.height =%> (cm)
						</li>
						<li>
							<span>장르 :</span><%= @market.genre.name %>
						</li>
						<li>
							<span>재료 :</span><%= @market.material %>
						</li>
						<li>
							<span>제작년도 :</span><%= @market.year %>
						</li>						
					</ul>
					
					<div class="separator"></div>
					<!-- 갤러리 컨택 구현완료 8월 31일-->
					<form data-toggle="validator" action="/markets/email_send" method="POST">
						<div class="form-group">
							<input type="text" name="sender" placeholder="이름" required data-error="NEW ERROR MESSAGE">
							<div class="help-block with-errors"></div>
						</div>

						<div class="form-group">
							<input type="email" name="email" placeholder="example@example.com" required>
							<div class="help-block with-errors"></div>
						</div>
						<div class="form-group">
							<textarea name="message" required>안녕하세요! 작가님의 작품이 정말 마음에 들어요. 더 많은 정보를 알 수 있나요?</textarea>
							<div class="help-block with-errors"></div>
						</div>
							<input type="hidden" name="market_id" value="<%= @market.id %>">
							<input type="hidden" name="market_title" value="<%= @market.title %>">
							<input type="hidden" name="market_artist" value="<%= @market.artist.user.nickname %>">
						<button type="submit" class="m-btn m-btn-black m-btn-medium" style="width: 100%;">갤러리에게 문의하기</button>
					</form>
					<% if user_signed_in? %>
						<% if current_user.email == @market.artist.user.email %>
						<!--작품 수정 및 삭제 버튼-->
						<div class="separator"></div>
						<a href="/markets/edit/<%= @market.id %>" class="m-btn m-btn-medium">수정하기</a>
						<a href="/markets/delete/<%= @market.id %>" class="m-btn m-btn-medium">삭제하기</a>
						<% end %>
					<% end %>
				</div><!-- PROJECT DETAILS -->
			
				<div class="separator"></div>
				
				<!-- TABS -->
				<div class="col-md-12">
					<ul class="m-nav-tabs">
					    <!--<li class="active"><a class="active" data-tab="#tab1" href="#">Work Detail</a></li>-->
					    <li class="active"><a class="active" data-tab="#tab2">작가정보</a></li>
					</ul>

					<div class="m-content-tabs">
					 <!--   <div class="tabs-pane active" id="tab1">-->
						<!-- 작품에 대한 설명 -->
						<!--Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi.-->
					 <!--   </div>-->
					    <div class="tabs-pane active" id="tab2">
						<!-- 아티스트에 대한 설명 -->
						<%= render :partial => 'layouts/artist2.erb'%>
					    </div>
					</div>
				</div><!--// TABS -->
				<!-- 이 작가의 다른 작품 -->
				<%= render :partial => 'layouts/another' %>
				<!-- 추천 작품 -->
				<%= render :partial => 'layouts/recommend'%>							
			</div><!--//single-product -->
		</div><!-- BOX CONTAINER -->
	</section><!-- End Content -->
	<!-- 뒤로가기 -->
	<section style="padding-top: 0px;">
	<div class="col-md-12" style="text-align: center;">
		<span class="m-btn m-btn-radius m-btn-default m-btn-large" onclick="history.go(-1)">뒤로가기</span>
	</div>
	</section>
	
	<script>
	    // 줌에 사용되는 모달
		$('#myModal').modal(options)
	</script>
	<script>
		// 스크롤을 안보이게 하고 마우스 드래그로 줌된 사진을 움직일 수 있게 함
		$('#wrapper, #scroller').dragscrollable({
		    dragSelector: 'img', 
		    acceptPropagatedEvent: false
		});
	</script>