 	<!-- *********************
		INTRO PAGE TITLE
	********************** -->
	<section class="heading-page-section">
		<div class="container">
			<div class="col-md-12">
				<h2 class="heading-page-title">상세페이지</h2>
			</div>
		</div>
	</section>
	<!-- *********************
		CONTENT
	********************** -->
	<section style="padding-bottom: 0px;">
		<div class="container">
			<div class="heading-wrap col-md-12">
				<h1 class="section-title"><%= @market.title %></h1>
				<span class="section-subtitle-m section-subtitle-color"><%= @market.artist.user.nickname %></span>
			</div>
	</section>	
	
	<section oncontextmenu='return false' id="shop" class="content shop">
		<div class="container">		
			<div class="single-product">			
				<!-- 작품 사진 -->
				<div class="col-md-7">
					<div class="single-product-gallrey flexslider">
						<ul class="slides">
							<li><%= image_tag(@market.image) %></li>
						</ul>	
						<div class="zoom">	
                            <!-- zoom -->
							<a class="zoomcontent" data-toggle="modal" href="#myModal">
							  <span class="icon-search circle-icon"></span>
							</button></a>
							<a class="zoomcontent" href="/markets/view_in_a_room/<%= @market.id %>" rel="tooltip" title="View in a room" target="_blank">
                               <span class="icon-eye2 circle-icon"></span>
                            </a> 
							<!-- Modal -->
							<div class="modal modal-wide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  							  <div class="modal-dialog">
							    <div class="modal-content">
							      <div class="modal-header">
							        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							        <h5 class="modal-title" id="myModalLabel">
							        	마우스를 드래그하여 작품을 움직여보세요
									</h5>
							      </div>
							      <div class="modal-body">
							      	<div class="dragscroll">
							      		<img id="modal-image" src="<%=@market_img_url%>">
							      	</div>
							      </div>
							    </div>
							  </div>
							</div>
						</div><!--// zoom -->
					</div><!--// single-product-gallrey flexslider -->					
				</div><!-- PRODUCT SLIDER -->
				
				<!-- 작품 설명 -->
				<div class="portfolio-project-details col-md-5">
					<div class="single-product-header">
						<span class="product-price left">
							<!--<del>&#8361;20000</del>--><!-- 원가 -->
							<ins>&#8361; 200,000</ins><!-- 판매가 -->
						</span>
					</div>
					<div class="separator"></div>					
					<p>
					 작가는 사람-사람과 같은 관계에 집중하여, 팝아트적 이미지 형상에 '일상'과 '관계'에서 비롯되는 우화를 녹여내는 작업을 진행한다.
					 화려한 색감으로 매끈하게 마감된 작업 이면에는 냉혹한 현실에 대한 은유적 발언이 숨겨져 있으며, 작가는 자신의 이야기를 작업에 반영하여
					 스스로 내적 트라우마를 치유하고 대중들 역시 치유받기를 바란다. 
					</p>
					<!-- Project info details -->
					<ul class="product-meta clearfix">
						<li>
							<span>사이즈 :</span><%= @market.width %> x <%= @market.height =%> (cm)
						</li>
						<li>
							<span>장르 :</span><%= @market.genre %>
						</li>
						<li>
							<span>재료 :</span><%= @market.material %>
						</li>
						<li>
							<span>제작년도 :</span><%= @market.year %>
						</li>						
					</ul>
					
					<div class="separator"></div>
					<!-- 갤러리 컨택 구현완료 8월 31일-->
					<form data-toggle="validator" action="/markets/email_send" method="POST">
						<div class="form-group">
							<input type="text" name="sender" placeholder="Your full name" required data-error="NEW ERROR MESSAGE">
							<div class="help-block with-errors"></div>
						</div>

						<div class="form-group">
							<input type="email" name="email" placeholder="Your email address" required>
							<div class="help-block with-errors"></div>
						</div>
						<div class="form-group">
							<textarea name="message" required>Hi, I’m interested in purchasing this work. Could you please provide more information about the piece?</textarea>
							<div class="help-block with-errors"></div>
						</div>

						<button type="submit" class="m-btn m-btn-black m-btn-medium" style="width: 100%;">Contact Gallery</button>
					</form>
					<% if current_user.email == "paintingfarm@gmail.com"%>
					<!--작품 수정 및 삭제 버튼-->
					<div class="separator"></div>
					<a href="" class="m-btn m-btn-medium">수정하기</a>
					<a href="" class="m-btn m-btn-medium">삭제하기</a>
					<% end %>
				</div><!-- PROJECT DETAILS -->
			
				<div class="separator"></div>
				
				<!-- TABS -->
				<div class="col-md-12">
					<ul class="m-nav-tabs">
					    <!--<li class="active"><a class="active" data-tab="#tab1" href="#">Work Detail</a></li>-->
					    <li class="active"><a class="active" data-tab="#tab2" href="#">Artist</a></li>
					</ul>

					<div class="m-content-tabs">
					 <!--   <div class="tabs-pane active" id="tab1">-->
						<!-- 작품에 대한 설명 -->
						<!--Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi.-->
					 <!--   </div>-->
					    <div class="tabs-pane active" id="tab2">
						<!-- 아티스트에 대한 설명 -->
						<%= render :partial => 'layouts/artist2.erb'%>
					    </div>
					</div>
				</div><!--// TABS -->
				<!-- 이 작가의 다른 작품 -->
				<%= render :partial => 'layouts/another' %>
				<!-- 추천 작품 -->
				<%= render :partial => 'layouts/recommend'%>							
			</div><!--//single-product -->
		</div><!-- BOX CONTAINER -->
	</section><!-- End Content -->
	<!-- 뒤로가기 -->
	<section style="padding-top: 0px;">
	<div class="col-md-12" style="text-align: center;">
		<span class="m-btn m-btn-radius m-btn-default m-btn-large" onclick="history.go(-1)">뒤로가기</span>
	</div>
	</section>
	
	<script>
		$('#myModal').modal(options)
	</script>
	<script>
		$('#wrapper, #scroller').dragscrollable({
		    dragSelector: 'img', 
		    acceptPropagatedEvent: false
		});
	</script>