<section oncontextmenu='return false' id="shop" class="content shop">
	<div class="container">		
		<div class="single-product">			
			<!-- 작가 사진 -->
			<div class="col-md-4">
				<div class="single-product-gallrey flexslider">
					<ul class="slides">
						<li><img src="/images/user-default.png" style="width: 300px;"></li>
					</ul>		
				</div><!--// single-product-gallrey flexslider -->					
			</div><!-- PRODUCT SLIDER -->
			
			<!-- 작가 설명 -->
			<div class="portfolio-project-details col-md-8">
				<div class="single-product-header">
					<span class="product-price left">
						<ins><%= @artist.user.nickname %></ins><!-- 작가이름 -->
					</span>
				</div>
				<div class="separator"></div>					
				<p>
					<% unless @profile.nil? %>
						<%= @profile.etc %>
					<% else %>
						<h5>미등록</h5>
					<% end %>					
				</p>
				<!-- Project info details -->
				<!--<ul class="product-meta clearfix">-->
				<!--	<li>-->
				<!--		<span>직업 :</span>작가-->
				<!--	</li>-->
				<!--	<li>-->
				<!--		<span>출생 :</span>1991-->
				<!--	</li>-->
				<!--	<li>-->
				<!--		<span>장르 :</span>회화-->
				<!--	</li>						-->
				<!--</ul>-->
			    <div class="separator"></div>	
				<table class="table table-bordered">
				   	<tr>
					   	<td class="active">학력</td>
					   	<td><ul class="m-standard-list">
					   			<% @academics.each do |a| %>
					   				<li><%= a %></li>
					   			<% end %>
					   		</ul>
					   	</td>
					   	
				   	</tr>
				   	<tr>
					   	<td class="active">수상경력</td>
					   	<td>
							<ul class="m-standard-list">
								<% @awards.each do |a| %>
					   				<li><%= a %></li>
					   			<% end %>
							</ul>
					   	</td>
				   	</tr>
				   	<tr>
					   	<td class="active">개인전</td>
					   	<td>
							<ul class="m-standard-list">
								<% @privates.each do |p| %>
					   				<li><%= p %></li>
					   			<% end %>
							</ul>
					   	</td>
				   	</tr>
				   	<tr>
					   	<td class="active">단체전</td>
					   	<td>
							<ul class="m-standard-list">
								<% @teams.each do |t| %>
					   				<li><%= t %></li>
					   			<% end %>
							</ul>
					   	</td>
				   	</tr>
				   	<tr>
					   	<td class="active">아트페어</td>
					   	<td>
							<ul class="m-standard-list">
								<% @fairs.each do |f| %>
					   				<li><%= f %></li>
					   			<% end %>
							</ul>
					   	</td>
				   	</tr>
				   	<tr>
					   	<td class="active">소장</td>
					   	<td>
							<ul class="m-standard-list">
								<% @possessions.each do |p| %>
					   				<li><%= p %></li>
					   			<% end %>
							</ul>
					   	</td>
				   	</tr>
				   	<tr>
					   	<td class="active">기타</td>
					   	<td>
							<ul class="m-standard-list">
								<% @etc.each do |e| %>
					   				<li><%= e %></li>
					   			<% end %>
							</ul>
					   	</td>
				   	</tr>
				   	
				 </table>
			   <div class="separator"></div>
				
				<!-- 작품 출품 수-->
				<!--<span class="m-pgs-bar-thin">-->
				<!--    <span class="m-pgs-bar-thin-percent m-pgs-bar-color" data-percent="3"></span>-->
				<!--	<h5 class="m-pgs-bar-thin-title"><b>2012</b></h5>-->
				<!--</span>-->
				<!--<span class="m-pgs-bar-thin">-->
				<!--    <span class="m-pgs-bar-thin-percent m-pgs-bar-color" data-percent="4"></span>-->
				<!--	<h5 class="m-pgs-bar-thin-title"><b>2013</b></h5>-->
				<!--</span>-->
				<!--<span class="m-pgs-bar-thin">-->
				<!--    <span class="m-pgs-bar-thin-percent m-pgs-bar-color" data-percent="3"></span>-->
				<!--	<h5 class="m-pgs-bar-thin-title"><b>2014</b></h5>-->
				<!--</span>-->
				<!--<span class="m-pgs-bar-thin">-->
				<!--    <span class="m-pgs-bar-thin-percent m-pgs-bar-color" data-percent="1"></span>-->
				<!--	<h5 class="m-pgs-bar-thin-title"><b>2015</b></h5>-->
				<!--</span>-->
				<!--<span class="m-pgs-bar-thin">-->
				<!--    <span class="m-pgs-bar-thin-percent m-pgs-bar-color" data-percent="3"></span>-->
				<!--	<h5 class="m-pgs-bar-thin-title"><b>2016</b></h5>-->
				<!--</span>-->

			</div><!-- PROJECT DETAILS -->
			<!-- 이 작가의 다른 작품 -->
			<%= render :partial => 'layouts/another' %>							
		</div><!--//single-product -->
	</div><!-- BOX CONTAINER -->
</section><!-- End Content -->